/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
# Игнорировать все из директории vendor, кроме vendor/laravel/nova
/vendor/*
!/vendor/laravel/nova

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
